@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Community Activity Application</h1>
    <p>Welcome to our website! Here you can sign up for our group activities.</p>
</div> 


